@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

i/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #F55A5A;
  height: 55px;
}

.main-container {
  width: 50%;
  margin: 20px auto;
}
